<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lx.project.mapper.SysRoleMapper">
    <resultMap id="RoleListResultMap" type="com.lx.project.domain.UserRoleList">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="rname" jdbcType="VARCHAR" property="rname" />
    </resultMap>
    <select id="getAllUserRoleList"  resultMap="RoleListResultMap">
       select id roleID,rname roleName from `tb_sys_role` where isactive = 1
</select>
</mapper>
